@import "tailwindcss";

:root {
    --background: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --font-inter: var(--font-inter);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}
